.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.bg-grey {
  background-color: rgb(246, 242, 242);
}
.border-grey {
  border: 2px dashed grey !important;
}
.bg-color {
  background-color: rgb(184, 64, 64);
}
a {
  color: white!important;
}
.headingtext {
  font-size: 24px!important;
  font-weight: 600!important;
}
.headingtestsm {
  font-size: 18px!important;
  font-weight: 500!important;
}
.search-center {
  text-align: center;
}
.border {
  border: none!important;
}